//Global
*,
*::before,
*::after {
  box-sizing: border-box;
  overflow-wrap: anywhere;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $basic-white;
  color: $basic-black;
  font-family: $font-lato;
  font-size: 14px;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
}
