// COLORS
$basic-white: #ffffff;
$basic-black: #000000;
$basic-grey: #444444;
$basic-green: #68b738;
$basic-white-opacity: rgba(255, 255, 255, 0.3);
$basic-grey-opacity: rgba(68, 68, 68, 0.4);

$grey-lightest: #d9d9d9;
$grey-lighter: #eaeaea;
$grey-light: #e6e6e6;
$grey-dark: #f2f2f2;
$grey-darker: #cdcdcd;
$grey-darkest: #d3d3d3;
$form-grey: #222222;

$black-lightest: #111111;

$border-grey-light-opacity: rgba(0, 0, 0, 0.24);
$border-grey-light-opacity-active: rgba(0, 0, 0, 0.4);
$border-grey-light: #ebebeb;
$border-grey: #ededed;
$border-grey-dark-opacity: #dcdcdc;
$border-grey-dark: #bababa;

$svg-basic-grey: #666666;

$border-grey-contacts: #e7e7e7;
$border-grey-box-shadow: rgba(0, 0, 0, 0.16);
$border-grey-box-shadow-hover: rgba(0, 0, 0, 0.19);
$border-grey-box-shadow-active: rgba(0, 0, 0, 0.2);
$border-error: #ff8282;

$background-green: #5eaa2f;

// SIZES
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

// FONTS
$font-lato: "Lato", "Arial", sans-serif;
$font-oswald: "Oswald", "Arial", sans-serif;
