/* GLOBAL */
@import "./common/variables.scss";
@import "./common/mixins.scss";
@import "./common/fonts.scss";
@import "./common/global.scss";
@import "./common/visually-hidden.scss";
@import "./common/container.scss";

/* BLOCKS */
@import "./blocks/generic-button.scss";
@import "./blocks/header.scss";
@import "./blocks/page.scss";
@import "./blocks/page-header.scss";
@import "./blocks/menu-nav.scss";
@import "./blocks/hero.scss";
@import "./blocks/services.scss";
@import "./blocks/advantages.scss";
@import "./blocks/sample.scss";
@import "./blocks/contacts.scss";
@import "./blocks/page-footer.scss";
@import "./blocks/logo.scss";
@import "./blocks/social.scss";
@import "./blocks/copyright.scss";
@import "./blocks/products.scss";
@import "./blocks/characteristic-table.scss";
@import "./blocks/additional-products.scss";
@import "./blocks/promo.scss";
@import "./blocks/form.scss";
