.additional-products {
  position: relative;
  margin-bottom: 41px;

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    right: 0;
    z-index: -1;
    width: 50%;
    height: 2px;
    background-color: $basic-green;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 79px;

    &::before {
      width: 100%;
      top: 15px;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      top: 16px;
    }
  }
}

.additional-products__heading {
  display: inline-block;
  width: fit-content;
  margin: 0 0 34px;
  padding-right: 41px;
  padding-bottom: 0;
  padding-left: 20px;
  font-size: 24px;
  line-height: 24px;
  font-family: $font-oswald;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    top: -8px;
    grid-column: span 2;
    margin-bottom: 81px;
    margin-left: 30px;
    padding-left: 41px;
    padding-right: 39px;
    font-size: 32px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 79px;
    margin-left: 70px;
    padding-right: 40px;
    padding-left: 40px;
    font-size: 40px;
    line-height: 40px;
  }
}

.additional-products__wrapper {
  display: grid;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    row-gap: 71px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 79px;
    margin-bottom: 95px;
    padding-left: 111px;
    padding-right: 110px;
  }
}

.additional-products__list {
  display: grid;
  list-style: none;
  margin: 1px 0 35px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 895px;
    border: none;
  }
}

.additional-products__item {
  width: 280px;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 18px;
  border-top: 1px solid $grey-darker;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 708px;
    padding: 20px 37px 27px;
    font-size: 16px;
    line-height: 20px;
    border: 1px solid $grey-darker;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    align-items: baseline;
    width: auto;
    padding: 10px 0 9px;
    border: none;
    border-top: 1px solid $grey-darker;
    border-bottom: 1px solid $grey-darker;
  }
}

.additional-products__item--milk {
  padding-top: 14px;
  padding-bottom: 21px;

  @media (min-width: $tablet-width) {
    padding: 20px 37px 27px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 0 13px;
  }
}

.additional-products__item--water {
  padding-top: 13px;
  padding-bottom: 19px;

  @media (min-width: $tablet-width) {
    padding: 20px 37px 27px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 0 13px;
  }
  // @media (min-width: $desktop-width) {
  //   margin-top: -1px;
  //   margin-bottom: -1px;
  //   padding-top: 14px;
  //   padding-bottom: 13px;
  // }
}

.additional-products__item--vitamins {
  margin-top: -1px;
  padding-top: 14px;
  padding-bottom: 19px;
  border-bottom: 1px solid $grey-darker;

  @media (min-width: $tablet-width) {
    padding: 20px 37px 27px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 0 13px;
  }
}

.additional-products__title {
  margin: 0 0 11px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 14px;
  font-family: $font-oswald;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    flex-grow: 1;
    margin: 0;
    font-size: 20px;
    line-height: 20px;
  }
}

.additional-products__table {
  border-spacing: 2px;

  @media (min-width: $desktop-width) {
    margin-right: 39px;
  }
}

.additional-products__characteristic {
  @media (min-width: $mobile-width) {
    margin-bottom: 19px;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.additional-products__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 280px;
  font-size: 14px;
  line-height: 20px;
  font-family: $font-lato;

  @media (min-width: $tablet-width) {
    width: auto;
    margin-top: 6px;
  }
}

.additional-products__count {
  padding: 0;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  color: $basic-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 195px;
    margin-top: 9px;
    text-align: left;
  }
}

.additional-products__price {
  padding: 0 0 0 3px;
  line-height: 14px;
  color: $basic-grey;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 91px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    margin-top: 8px;
  }
}

.additional-products__price--pd {
  padding: 0 3px;
}

.additional-products__price--dec {
  @media (min-width: $desktop-width) {
    width: 84px;
    margin-top: 8px;
    margin-right: 8px;
  }
}

.additional-products__button {
  display: block;
  width: 280px;
  margin: 13px auto 0;
  padding: 11px 44px;
  font-weight: 400;
  font-size: 16px;
  font-family: $font-oswald;
  text-align: center;
  color: $basic-white;
  text-transform: uppercase;
  background-color: $basic-green;

  &:hover {
    background-color: $background-green;
  }

  &:active {
    background-color: $background-green;
    color: rgba($basic-white, 30%);
  }

  @media (min-width: $tablet-width) {
    width: 633px;
    margin-top: 19px;
    padding: 11px 44px 10px;
  }

  @media (min-width: $desktop-width) {
    width: 244px;
    margin: 0;
  }
}

.additional-products__button--water {
  margin: 14px auto 0;

  @media (min-width: $tablet-width) {
    margin: 20px auto 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
  }
}

.additional-products__button--milk {
  margin-bottom: -1px;
}

.additional-products__button--vitamins {
  margin-top: 20px;

  @media (min-width: $desktop-width) {
    margin: 0 auto;
  }
}

.additional-products__stock {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 280px;
  min-height: 289px;
  margin: 0 auto;
  padding-top: 144px;
  background-color: $basic-green;
  background-image: image-set("../images/gift-photo-mobile@1x.webp" 1x, "../images/gift-photo-mobile@2x.webp" 2x, "../images/gift-photo-mobile@1x.jpg" 1x, "../images/gift-photo-mobile@2x.jpg" 2x);
  background-repeat: no-repeat;
  background-size: contain;

  &::before {
    position: absolute;
    content: "";
    top: 57px;
    width: 80px;
    height: 83px;
    background-image: url("../../icons/stack.svg#icon-gift");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-around;
    width: 707px;
    min-height: 200px;
    padding-top: 0;
    padding-left: 86px;
    padding-right: 125px;
    background-image: image-set("../images/gift-photo-tablet@1x.webp" 1x, "../images/gift-photo-tablet@2x.webp" 2x, "../images/gift-photo-tablet@1x.jpg" 1x, "../images/gift-photo-tablet@2x.jpg" 2x);

    &::before {
      top: 56px;
      left: 11%;
    }
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    width: 245px;
    min-height: 289px;
    padding: 145px 0 5px;
    background-image: image-set("../images/gift-photo-desktop@1x.webp" 1x, "../images/gift-photo-desktop@2x.webp" 2x, "../images/gift-photo-desktop@1x.jpg" 1x, "../images/gift-photo-desktop@2x.jpg" 2x);

    &::before {
      left: 34%;
    }
  }
}

.additional-products__stock-slogan {
  width: 161px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    margin-left: auto;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    text-align: center;
  }
}
