.characteristic-table__row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: start;
  align-items: center;
  gap: 10px;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $grey-darker;
  }
}

.characteristic-table__cell {
  padding: 0;
  font-size: 12px;
  line-height: 16px;
  font-family: $font-lato;
  color: $basic-grey;

  @media (min-width: $tablet-width) {
    padding: 8px 0 7px;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 8.5px;
  }
}

.characteristic-table__cell:nth-child(2n) {
  text-align: right;
}
