.contacts {
  background-color: $grey-dark;
}

.contacts__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 18px 26px 20px;

  @media (min-width: $tablet-width) {
    align-items: start;
    padding: 62px 72px 61px 71px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    right: 53%;
    z-index: 1;
    width: 566px;
    margin-top: 95px;
    padding: 61px 80px 59px;
    background-color: $basic-white;
  }
}

.contacts__text {
  width: 140px;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: $font-oswald;
  color: $black-lightest;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 171px;
    font-size: 20px;
    line-height: 25px;
  }

  @media (min-width: $desktop-width) {
    width: 163px;
  }
}

.contacts__address {
  width: 140px;
  font-style: normal;
  line-height: 20px;
  color: $basic-grey;

  @media (min-width: $tablet-width) {
    width: 159px;
    font-size: 16px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    width: 157px;
    text-align: left;
  }
}

.contacts__address-text {
  @media (min-width: $tablet-width) {
    display: block;
    margin-top: 17px;
  }
}

.contacts__map-wrapper {
  background-color: $grey-dark;
}

.contacts__map {
  position: relative;
  min-width: 320px;
  height: 362px;
  margin: 0;
  background-color: $grey-lightest;
  background-image: image-set("../images/map-pin@2x.webp" 2x, "../images/map-pin@1x.webp" 1x, "../images/map-pin@2x.jpg" 2x, "../images/map-pin@1x.jpg" 1x), image-set("../images/bg-map-mobile@2x.webp" 2x, "../images/bg-map-mobile@1x.webp" 1x, "../images/bg-map-mobile@1x.jpg" 1x, "../images/bg-map-mobile@2x.jpg" 2x);
  background-repeat: no-repeat, no-repeat;
  background-size: 57px 53px, contain;
  background-position: 50% 44%, center;

  @media (min-width: $tablet-width) {
    position: relative;
    min-height: 396px;
    background-image: image-set("../images/map-pin@2x.webp" 2x, "../images/map-pin@1x.webp" 1x, "../images/map-pin@2x.jpg" 2x, "../images/map-pin@1x.jpg" 1x), image-set("../images/bg-map-tablet@2x.webp" 2x, "../images/bg-map-tablet@1x.webp" 1x, "../images/bg-map-tablet@2x.jpg" 2x, "../images/bg-map-tablet@1x.jpg" 1x);
    background-size: 113px 106px, contain;
    background-position: center, center;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    min-height: 400px;
    background-image: image-set("../images/map-pin@2x.webp" 2x, "../images/map-pin@1x.webp" 1x, "../images/map-pin@1x.jpg" 1x, "../images/map-pin@2x.jpg" 2x), image-set("../images/bg-map-desktop@2x.webp" 2x, "../images/bg-map-desktop@1x.webp" 1x, "../images/bg-map-desktop@2x.jpg" 2x, "../images/bg-map-desktop@1x.jpg" 1x);
    background-position: 67.5% 44%, center;
  }
}

.contacts__map iframe {
  border: none;
  display: block;
  width: 100%;
  height: 100%;
}
