.hero {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2px;
  margin-bottom: 20px;
  padding-top: 25px;
  padding-right: 20px;
  padding-left: 20px;

  &::before {
    content: "";
    position: absolute;
    top: -3px;
    left: 0;
    z-index: -1;
    width: 320px;
    height: 304px;
    background-color: $basic-green;
    background-image: image-set("../images/index-background-mobile@1x.webp" 1x, "../images/index-background-mobile@2x.webp" 2x, "../images/index-background-mobile@1x.jpg" 1x, "../images/index-background-mobile@2x.jpg" 2x);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 320px auto;
  }

  @media (min-width: $tablet-width) {
    min-height: 780px;
    margin-bottom: 56px;
    padding-top: 26px;
    padding-left: 119px;

    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 694px;
    margin-bottom: 0;
    padding-left: 190px;

    &::before {
      display: block;
      content: "";
      position: absolute;
      top: -2px;
      left: auto;
      right: 0;
      z-index: -1;
      width: 720px;
      height: 696px;
      background-image: image-set("../images/index-background-desktop@1x.webp" 1x, "../images/index-background-desktop@2x.webp" 2x, "../images/index-background-desktop@1x.jpg" 1x, "../images/index-background-desktop@2x.jpg" 2x);
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

.hero__heading {
  margin: 0;
  font-weight: 400;
  font-family: $font-oswald;

  @media (min-width: $mobile-width) {
    margin-bottom: 25px;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    color: $basic-white;
  }

  @media (min-width: $tablet-width) {
    width: 416px;
    margin-bottom: 41px;
    font-size: 60px;
    line-height: 60px;
    color: $basic-black;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-top: -72px;
    margin-bottom: 40px;
  }
}

.hero__text {
  font-family: $font-oswald;
  text-transform: uppercase;

  @media (min-width: $mobile-width) {
    margin: 0 auto 28px;
    line-height: 14px;
    color: $basic-white;
  }

  @media (min-width: $tablet-width) {
    max-width: 290px;
    margin-top: -298px;
    margin-left: 0;
    margin-bottom: 64px;
    font-size: 20px;
    line-height: 20px;
    color: $basic-black;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    margin-bottom: 52px;
  }
}

.hero__image {
  position: relative;

  @media (min-width: $tablet-width) {
    position: absolute;
    z-index: -1;
    top: 227px;
    left: 29px;
    height: 610px;
    width: auto;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 141px;
    right: 329px;
    left: auto;
    z-index: -1;
    width: 552px;
    height: 499px;
  }
}

.hero__button {
  width: 100%;

  &:hover {
    background-color: $background-green;
  }

  &:active {
    color: $basic-white-opacity;
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 256px;
    left: 120px;
    width: 244px;
    padding-top: 18px;
    padding-bottom: 16px;
    padding-right: 28px;
  }

  @media (min-width: $desktop-width) {
    position: initial;
  }
}
