.menu-nav {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    background-color: transparent;
  }
}

.menu-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 60px;
  height: 60px;
  background-color: $basic-white;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.menu-nav__toggle--form-t {
  top: -8px;
  right: -3px;
}

.menu-nav--closed .menu-nav__toggle::before {
  content: "";
  position: absolute;
  top: 25px;
  right: 20px;
  width: 24px;
  height: 2px;
  background-color: $basic-black;
  box-shadow: 0 8px 0 0 $basic-black, 0 16px 0 0 $basic-black;
}

.menu-nav--closed .menu-nav__wrapper {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.menu-nav--opened .menu-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    right: 23px;
    width: 25px;
    height: 2px;
    background-color: $basic-black;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.menu-nav__menu {
  @include reset-list;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 440px;
  }

  @media (min-width: $desktop-width) {
    width: 478px;
    margin-left: 508px;
  }
}

.menu-nav__menu--form {
  @media (min-width: $tablet-width) {
    width: 435px;
    margin-top: 4px;
  }

  @media (min-width: $desktop-width) {
    width: 478px;
    margin-top: 0;
  }
}

.menu-nav__item {
  display: flex;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    border: none;
  }
}

.menu-nav__link {
  width: 100%;
  padding-top: 22px;
  padding-bottom: 23px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  color: $basic-black;
  border-bottom: 1px solid $grey-light;

  &:hover {
    border-bottom: 1px solid transparent;
    opacity: 0.6;
  }

  &:active {
    border-bottom: 1px solid transparent;
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding-top: 7px;
    padding-bottom: 8px;
    border: none;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: initial;
  }

  @media (min-width: $desktop-width) {
    margin-top: -6px;
    padding-bottom: 10px;
    font-size: 20px;
    line-height: 22px;
  }
}

.menu-nav__link:nth-child(1n) {
  border-top: 1px solid $grey-light;

  @media (min-width: $tablet-width) {
    border-top: none;
  }
}

.menu-nav__link--white {
  @media (min-width: $desktop-width) {
    color: $basic-white;
  }
}

.menu-nav__link--current {
  @media (min-width: $tablet-width) {
    opacity: 1;
    color: $basic-black;
    border-bottom: 2px solid $basic-green;
  }
}

.menu-nav__link--active {
  @media (min-width: $desktop-width) {
    color: $basic-white;
    border-bottom: 2px solid $basic-white;
  }
}

.menu-nav-nojs .menu-nav__toggle {
  display: none;
}

.menu-nav-nojs .menu-nav__wrapper {
  position: static;
}

.menu-nav-nojs .menu-nav__item {
  display: flex;
}
