.page-main__header {
  margin-bottom: 41px;
  padding-top: 27px;
  padding-right: 20px;
  padding-left: 19px;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  font-family: $font-oswald;

  @media (min-width: $tablet-width) {
    margin-bottom: 91px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 85px;
    padding-right: 110px;
    padding-left: 110px;
  }
}

.page-main__header--catalog {
  margin-bottom: 40px;
  padding-top: 26px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 66px;
    padding-top: 25px;
    padding-left: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 35px;
    padding-right: 110px;
    padding-left: 110px;
  }
}

.page-main__header--form {
  margin-left: auto;
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
    padding-top: 22px;
    padding-left: 29px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 56px;
    margin-left: auto;
    padding-right: 110px;
    padding-left: 110px;
    padding-top: 28px;
  }
}
