.page-footer {
  background-color: $grey-dark;
}

.page-footer__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  padding: 10px 20px 13px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1.7fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    padding: 35px 29px 28px 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1.27fr 1fr 1fr;
    padding: 30px 110px 38px;
  }
}

.page-footer__logo {
  width: fit-content;
  margin: 30px auto  15px;
  color: $black-lightest;

  @media (min-width: $tablet-width) {
    margin: 30px auto 30px 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 42px;
    margin-right: 41px;
  }
}

.page-footer__logo-image {
  width: 128px;
  height: 24px;
}

.page-footer__social {
  width: 280px;
  border-top: 1px solid $grey-lightest;
  border-bottom: 1px solid $grey-lightest;

  @media (min-width: $tablet-width) {
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 26px;
  }
}

.page-footer__copyright-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 284px;
  padding-top: 21px;
  padding-bottom: 23px;
  font-size: 16px;
  line-height: 18px;
  color: $basic-grey;

  &:hover .page-footer__copyright-logo-image {
    fill: $basic-green;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-around;
    width: 191px;
    padding-top: 29px;
  }

  @media (min-width: $desktop-width) {
    margin-right: -13px;
    padding-top: 35px;
  }
}

.page-footer__copyright-logo-image {
  fill: $basic-grey;
}
