.products {
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
    padding-right: 30px;
    padding-left: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 75px;
    padding-right: 110px;
    padding-left: 110px;
  }
}

.products__list {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 53px 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 64px 80px;
  }
}

.products__item {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  padding-right: 20px;
  padding-bottom: 22px;
  padding-left: 19px;
  border-top: 1px solid $border-grey-light;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding: 229px 37px 39px 39px;
    background-image: linear-gradient($basic-white 19%, $grey-dark 0);
    border-top: none;
  }

  @media (min-width: $desktop-width) {
    padding-right: 38px;
    padding-bottom: 41px;
    padding-left: 39px;
  }
}

.products__item--bi {
  @media (min-width: $tablet-width) {
    background-image: linear-gradient($basic-white 17%, $grey-dark 0);
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient($basic-white 19%, $grey-dark 0);
  }
}

.products__item--bi-d {
  @media (min-width: $desktop-width) {
    padding-top: 232px;
    background-image: linear-gradient($basic-white 15%, $grey-dark 0);
  }
}

.products__image {
  margin-bottom: -3px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 53px;
    left: -1px;
    width: 324px;
    height: auto;
    bottom: 310px;
  }

  @media (min-width: $desktop-width) {
    top: 47px;
    width: auto;
  }
}

.products__info {
  display: flex;
  flex-flow: column wrap;
  place-content: flex-start center;

  @media (min-width: $tablet-width) {
    justify-content: center;
    width: 100%;
    margin-bottom: 33px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}

.products__image--chicken-big {
  padding: 8px 0;

  @media (min-width: $tablet-width) {
    padding: 0;
    top: 26px;
    left: -4px;
  }

  @media (min-width: $desktop-width) {
    top: 15px;
    left: -1px;
  }
}

.products__image--fish-small {
  padding-top: 18px;
  padding-left: 7px;
  padding-right: 6px;

  @media (min-width: $tablet-width) {
    top: 39px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    top: 45px;
    left: -2px;
  }
}

.products__image--fish-big {
  padding-top: 5px;

  @media (min-width: $tablet-width) {
    top: 12px;
    left: -4px;
    padding: 0;
    padding-left: 1px;
  }
}

.products__image--buckwheat-small {
  padding: 22px 6px 0 7px;

  @media (min-width: $tablet-width) {
    padding: 0;
    top: 42px;
  }

  @media (min-width: $desktop-width) {
    top: 24px;
    left: -1px;
  }
}

.products__image--buckwheat-big {
  padding: 7px 0 0;

  @media (min-width: $tablet-width) {
    top: 11px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    top: -10px;
  }
}

.products__image--rice-small {
  padding: 15px 2px 0 4px;

  @media (min-width: $tablet-width) {
    padding: 0;
    top: 40px;
    left: -3px;
  }

  @media (min-width: $desktop-width) {
    top: 25px;
    left: -2px;
  }
}

.products__heading {
  width: 80px;
  margin: 20px 0 14px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: $font-oswald;
  color: $form-grey;
  text-align: left;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 154px;
    margin: 31px auto 13px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin: 34px auto 16px;
    line-height: 21px;
  }
}

.products__heading--chicken-big {
  margin-top: 23px;

  @media (min-width: $tablet-width) {
    margin-top: 29px;
    margin-bottom: 11px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 17px;
  }
}

.products__heading--fish-small {
  margin-top: 21px;

  @media (min-width: $tablet-width) {
    margin-top: 17px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 34px;
  }
}

.products__heading--fish-big {
  margin-top: 21px;

  @media (min-width: $tablet-width) {
    margin-top: 19px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 31px;
  }
}

.products__heading--buckwheat-small {
  margin-top: 23px;

  @media (min-width: $tablet-width) {
    margin-top: 21px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 8px;
    margin-bottom: 17px;
  }
}

.products__heading--buckwheat-big {
  margin-top: 21px;

  @media (min-width: $tablet-width) {
    margin-top: 21px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 6px;
    margin-bottom: 17px;
  }
}

.products__characteristic {
  width: 140px;
  border-collapse: collapse;

  @media (min-width: $tablet-width) {
    width: 248px;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
  }
}

.products__heading--rice-small {
  margin-top: 21px;

  @media (min-width: $tablet-width) {
    margin-top: 22px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 10px;
  }
}

.products__button {
  grid-column: span 2;
  width: 280px;
  height: 40px;
  padding: 10px 109px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: $font-oswald;
  text-align: center;
  color: $basic-white;
  text-transform: uppercase;
  background-color: $basic-green;

  @media (min-width: $tablet-width) {
    width: 248px;
    height: 39px;
    padding: 9px 93px;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
    padding: 9px 53px;
  }
}

.products__button--chicken-big {
  margin-top: -13px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.products__button--fish-big {
  margin-top: -4px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.products__button--fish-small {
  margin-top: -3px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.products__button--buckwheat-small,
.products__button--rice-small {
  margin-top: -6px;

  @media (min-width: $tablet-width) {
    margin-top: -1px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 2px;
  }
}

.products__button--buckwheat-big {
  margin-top: -6px;

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

.products__item--all {
  padding-top: 33px;
  padding-bottom: 25px;
  border-bottom: 1px solid $border-grey-light;
  background-image: url("../../icons/stack.svg#icon-plus");
  background-position: top 3px center;
  background-repeat: no-repeat;
  background-size: 30px 30px;

  @media (min-width: $tablet-width) {
    margin-top: 92px;
    padding: 162px 37px 34px 38px;
    background-size: 60px 60px;
    outline: 2px solid $grey-dark;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    margin-top: 80px;
    padding-bottom: 36px;
  }
}

.products__icon-plus {
  grid-column: span 2;
  fill: $grey-darkest;
  margin-top: 24px;
  margin-bottom: 2px;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    margin-top: -37px;
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -39px;
    margin-bottom: 50px;
  }
}

.products__heading--all {
  grid-column: span 2;
  width: auto;
  margin-bottom: -4px;
  color: $black-lightest;

  @media (min-width: $tablet-width) {
    width: 141px;
    margin: auto;
    margin-bottom: 23px;
    font-size: 20px;
    line-height: 22px;
  }
}

.products__text--all {
  grid-column: span 2;
  margin-bottom: 21px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: $basic-grey;

  @media (min-width: $tablet-width) {
    width: 168px;
    margin: 0 auto 87px;
    font-size: 16px;
    line-height: 19px;
  }
}

.products__button--all {
  height: auto;
  padding: 10px 90px;
  color: $basic-grey;
  background-color: $grey-dark;

  &:hover {
    background-color: $border-grey-light;
  }

  &:active {
    color: $basic-grey-opacity;
  }

  @media (min-width: $tablet-width) {
    padding: 10px 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 20px;
  }
}
