.products {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 74px;
    padding-right: 30px;
    padding-left: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 71px;
    padding-right: 110px;
    padding-left: 110px;
  }
}

.products__header {
  margin-top: 28px;
  margin-bottom: 40px;
  padding-left: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  font-family: $font-oswald;

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;
    padding-left: 0;
    padding-right: 30px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 35px;
    margin-bottom: 52px;
    padding-right: 110px;
  }
}

.products__list {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 38px 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    justify-items: normal;
    gap: 65px 80px;
  }
}

.products__item {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  padding: 20px 20px 24px 19px;
  border-top: 1px solid $border-grey-light;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding: 229px 37px 39px 39px;
    background-image: linear-gradient($basic-white 20.9%, $grey-dark 0);
    border-top: none;
  }

  @media (min-width: $desktop-width) {
    padding: 216px 38px 41px 39px;
  }
}

.products__item--bi {
  @media (min-width: $tablet-width) {
    background-image: linear-gradient($basic-white 19.5%, $grey-dark 0);
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient($basic-white 20.8%, $grey-dark 0);
  }
}

.products__item--bi-d {
  @media (min-width: $desktop-width) {
    padding-top: 221px;
    background-image: linear-gradient($basic-white 15%, $grey-dark 0);
  }
}

.products__image {
  width: max-content;
  margin-top: -1px;

  @media (min-width: $tablet-width) {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
    height: auto;
    bottom: 310px;
  }

  @media (min-width: $desktop-width) {
    top: 47px;
    width: auto;
  }
}

.products__image--chicken-small {
  @media (min-width: $tablet-width) {
    left: 49.3%;
  }

  @media (min-width: $desktop-width) {
    top: 61px;
    left: 48.7%;
  }
}

.products__info {
  display: flex;
  flex-flow: column wrap;
  place-content: flex-start center;

  @media (min-width: $tablet-width) {
    justify-content: center;
    width: 100%;
    margin-bottom: 33px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}

.products__info--buckwheat-big {
  @media (min-width: $tablet-width) {
    margin-bottom: 17px;
  }
}

.products__image--chicken-big {
  @media (min-width: $tablet-width) {
    top: 43px;
  }

  @media (min-width: $desktop-width) {
    top: 44px;
  }
}

.products__image--fish-small {
  @media (min-width: $tablet-width) {
    top: 35px;
  }

  @media (min-width: $desktop-width) {
    top: 43px;
  }
}

.products__image--fish-big {
  @media (min-width: $tablet-width) {
    top: 34px;
  }

  @media (min-width: $desktop-width) {
    top: 43px;
  }
}

.products__image--buckwheat-small {
  @media (min-width: $tablet-width) {
    top: 32.5px;
  }

  @media (min-width: $desktop-width) {
    top: 7px;
  }
}

.products__image--buckwheat-big {
  @media (min-width: $tablet-width) {
    top: 33px;
  }

  @media (min-width: $desktop-width) {
    top: 6px;
  }
}

.products__image--rice-small {
  @media (min-width: $tablet-width) {
    top: 35px;
  }

  @media (min-width: $desktop-width) {
    top: 6px;
  }
}

.products__heading {
  width: 80px;
  margin: -6px 0 14px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: $font-oswald;
  color: $form-grey;
  text-align: left;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 154px;
    margin: 45px auto 13px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin: 48px auto 16px 4px;
  }
}

.products__heading--chicken-big {
  @media (min-width: $tablet-width) {
    margin-bottom: 11px;
    margin-left: 44px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 17px;
    margin-left: 4px;
  }
}

.products__heading--fish-small {
  @media (min-width: $tablet-width) {
    margin: 36px auto 14px 44px;
  }

  @media (min-width: $desktop-width) {
    margin: 48px auto 17px 4px;
  }
}

.products__heading--fish-big {
  @media (min-width: $tablet-width) {
    margin-top: 36px;
    margin-left: 44px;
  }

  @media (min-width: $desktop-width) {
    margin: 48px auto 16px 4px;
  }
}

.products__heading--buckwheat-small {
  @media (min-width: $tablet-width) {
    margin: 35px auto 13px 44px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 8px;
    margin-bottom: 17px;
    margin-left: 4px;
  }
}

.products__heading--buckwheat-big {
  @media (min-width: $tablet-width) {
    margin-top: 36px;
    margin-left: 44px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 6px;
    margin-bottom: 17px;
    margin-left: 4px;
  }
}

.products__characteristic {
  width: 140px;
  border-collapse: collapse;

  @media (min-width: $tablet-width) {
    width: 248px;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
  }
}

.products__heading--rice-small {
  @media (min-width: $tablet-width) {
    margin: 36px auto 13px 44px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 7px;
    margin-left: 4px;
    margin-bottom: 15px;
  }
}

.products__button {
  grid-column: span 2;
  width: 280px;
  min-height: 40px;
  margin-top: 15px;
  padding: 10px 109px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: $font-oswald;
  text-align: center;
  color: $basic-white;
  text-transform: uppercase;
  background-color: $basic-green;

  &:hover {
    background-color: $background-green;
  }

  &:active {
    background-color: $background-green;
    color: rgba($basic-white, 30%);
  }

  @media (min-width: $tablet-width) {
    width: 248px;
    min-height: 40px;
    margin-top: -1px;
    padding: 9px 93px;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
    padding: 9px 53px;
  }
}

.products__button--chicken-big {
  margin-top: 14px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.products__button--fish-big {
  margin-top: 14px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

// .products__button--fish-small {
//   margin-top: 7px;

//   @media (min-width: $tablet-width) {
//     margin-top: 0;
//   }
// }

// .products__button--buckwheat-small {
//   margin-top: 8px;

//   @media (min-width: $tablet-width) {
//     margin-top: -1px;
//   }
// }

// .products__button--rice-small {
//   margin-top: 6px;

//   @media (min-width: $tablet-width) {
//     margin-top: -1px;
//   }

//   @media (min-width: $desktop-width) {
//     margin-top: 2px;
//   }
// }

.products__button--buckwheat-big {
  margin-top: 14px;
}

.products__item--all {
  padding-top: 84px;
  padding-bottom: 24px;
  border-bottom: 1px solid $border-grey-light;
  background-image: url("../../icons/stack.svg#icon-plus");
  background-position: top 14% center;
  background-repeat: no-repeat;
  background-size: 30px 30px;

  &:hover,
  &:active {
    background-color: $border-grey-light;
  }

  @media (min-width: $tablet-width) {
    margin-top: 102px;
    padding: 160px 37px 38px 38px;
    background-position: top 14% center;
    background-size: 60px 60px;
    outline: 2px solid $grey-dark;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    margin-top: 72px;
    padding: 150px 37px 38px 38px;
  }
}

.products__icon-plus {
  grid-column: span 2;
  fill: $grey-darkest;
  margin-top: 24px;
  margin-bottom: 2px;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    margin-top: -37px;
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -39px;
    margin-bottom: 50px;
  }
}

.products__heading--all {
  grid-column: span 2;
  width: auto;
  margin-bottom: -4px;
  color: $black-lightest;

  @media (min-width: $tablet-width) {
    width: 141px;
    margin: auto;
    margin-bottom: 28px;
    font-size: 20px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 28px;
  }
}

.products__text--all {
  grid-column: span 2;
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: $basic-grey;

  @media (min-width: $tablet-width) {
    width: 168px;
    margin: 0 auto 81px;
    font-size: 16px;
    line-height: 19px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 89px;
  }
}

.products__button--all {
  height: auto;
  padding: 10px 90px;
  color: $basic-grey;
  background-color: $grey-dark;

  &:hover {
    background-color: $border-grey-light;
  }

  &:active {
    color: $basic-grey-opacity;
  }

  @media (min-width: $tablet-width) {
    padding: 10px 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 20px;
  }
}
