.sample {
  background-image: linear-gradient($basic-white, $grey-lighter 0);

  @media (min-width: $tablet-width) {
    position: relative;
    background-image: linear-gradient($basic-white 57.3%, $grey-lighter 0);
    border-top: 1px solid $grey-light;
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient($basic-white 26.5%, $grey-dark 0);
    border: none;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: calc((100vw - 1440px) / 2);
      height: 100%;
      background-image: linear-gradient($basic-white 26.5%, $grey-lighter 0);
    }
  }
}

.sample__wrapper {
  display: grid;
  justify-items: center;

  @media (min-width: $tablet-width) {
    padding-top: 16px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    padding-top: 0;
  }
}

.sample__info {
  margin-bottom: 34px;
  padding-right: 21px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 36px;
    padding-right: 30px;
    padding-left: 22px;
  }

  @media (min-width: $desktop-width) {
    z-index: 1;
    margin-bottom: 0;
    padding-right: 134px;
    padding-left: 110px;
  }
}

.sample__heading {
  margin: 0 auto;
  margin-bottom: 33px;
  padding: 0;
  padding-top: 28px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  font-family: "Oswald", "Arial", sans-serif;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    margin-bottom: 64px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 147px;
    padding-top: 29px;
  }
}

.sample__description {
  width: 279px;
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  color: $basic-grey;
  text-align: left;

  @media (min-width: $tablet-width) {
    width: 700px;
    margin-bottom: 53px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    margin-bottom: 69px;
    margin-left: 0;
    font-size: 16px;
    line-height: 24px;
  }
}

.sample__sample-price-wrapper {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $mobile-width) {
    justify-content: center;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
  }
}

.sample__list {
  display: flex;
  column-gap: 31px;
  margin: 0;
  margin-bottom: 34px;
  padding-left: 0;

  @media (min-width: $tablet-width) {
    column-gap: 42px;
    margin-bottom: 59px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 100px;
  }
}

.sample__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid $grey-darker;
  border-radius: 2px;

  @media (min-width: $mobile-width) {
    width: 124px;
    height: 56px;
  }

  @media (min-width: $tablet-width) {
    width: 162px;
    height: 71px;
  }
}

.sample__item-value {
  margin: 0;
  margin-top: 30px;
  padding: 0;
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
  font-family: "Oswald", "Arial", sans-serif;
  color: $basic-black;
  text-transform: uppercase;

  @media (min-width: $mobile-width) {
    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: $tablet-width) {
    margin-top: 20px;
    font-size: 30px;
    line-height: 37px;
  }
}

.sample__item-title {
  width: 82px;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  font-size: 12px;
  line-height: 12px;
  color: $basic-grey;
  background-color: $grey-lighter;

  @media (min-width: $tablet-width) {
    width: 140px;
    font-size: 14px;
    line-height: 14px;
    background-color: $basic-white;
  }

  @media (min-width: $desktop-width) {
    background-color: $grey-dark;
    font-size: 14px;
    line-height: 14px;
  }
}

.sample__item-title--width {
  @media (min-width: $tablet-width) {
    width: 113px;
  }
}

.sample__item-sale {
  margin: 0;
  padding: 0;
  line-height: 20px;
  font-weight: 400;
  font-size: 14px;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  color: $basic-black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 174px;
    margin-top: -59px;
    margin-right: -7px;
    font-size: 20px;
    line-height: 29px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    margin-bottom: 0;
  }
}

.sample__item-sale-value {
  @media (min-width: $desktop-width) {
    margin-left: 59px;
  }
}

.sample__slider {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.sample__slider-cat {
  position: relative;
  width: 311px;
  height: 232px;
  margin-bottom: 96px;

  @media (min-width: $tablet-width) {
    width: 708px;
    height: 620px;
    margin-bottom: 3px;
  }

  @media (min-width: $desktop-width) {
    width: 690px;
    height: 536px;
    margin-bottom: 91px;
  }
}

.sample__slider-cat-before img {
  max-width: fit-content;
}

.sample__slider-cat-before {
  position: absolute;
  left: -5px;
  width: 311px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    top: -8px;
    left: 16px;
    width: 338px;
  }

  @media (min-width: $desktop-width) {
    top: -24px;
    left: -55px;
    width: 365px;
  }
}

.sample__slider-cat-after img {
  max-width: fit-content;
}

.sample__slider-cat-after {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  width: 251px;
  overflow: hidden;
  overflow-y: hidden;
  direction: rtl;

  @media (min-width: $tablet-width) {
    top: -8px;
    right: 2px;
    display: block;
    width: 352px;
  }

  @media (min-width: $desktop-width) {
    top: -25px;
    right: 55px;
    width: 325px;
    background-image: linear-gradient($basic-white 36.5%, $grey-lighter 0);
    box-shadow: 0 130px 0 $grey-lighter, 71px 189px 0 $grey-lighter;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      width: calc((100vw - 1440px) / 2);
      height: 100%;
      background-image: linear-gradient($basic-white 36.5%, $grey-lighter 0);
    }
  }
}

.sample__slider-button {
  position: absolute;
  top: 0;
  left: 45%;
  display: block;
  padding: 0;
  width: 4px;
  height: 82%;
  cursor: pointer;
  background-color: $svg-basic-grey;
  border: none;
  border-radius: 2px;
  box-sizing: border-box;

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    background-color: $basic-white;
    border-radius: 50%;
    border: 2px solid $grey-darker;
    transform: translate(-50%, 50%);
  }

  &::after {
    position: absolute;
    top: 54%;
    left: 50%;
    content: "";
    background-color: #666666;
    width: 24px;
    height: 18px;
    mask-image: url("../../icons/stack.svg#icon-slider-arrows");
    transform: translate(-50%, 50%);
  }

  @media (min-width: $tablet-width) {
    // margin-bottom: -12px;
    // bottom: 81px;

    // &::before {
    //   left: 0;
    //   width: 428px;
    //   height: 6px;
    //   background-color: $border-grey-dark-opacity;
    // }
  }

  @media (min-width: $desktop-width) {
    // z-index: 1;
    // width: 614px;
    // left: 0;
    // margin-bottom: -12px;
  }
}

// .sample__slider-bar-button {
//   &::after {
//     content: "";
//     position: absolute;
//     top: 50%;
//     left: 9px;
//     width: 35px;
//     height: 4px;
//     background-color: $basic-green;
//     border-radius: 6px;
//   }

//   @media (min-width: $tablet-width) {
//     position: absolute;
//     left: -15px;
//     width: 34px;
//     height: 34px;
//     background-color: $basic-white;
//     border: 2px solid #666666;
//     border-radius: 50%;
//     box-shadow: 0 1px 3px $border-grey-box-shadow;

//     &::after {
//       content: "";
//       position: absolute;
//       top: 39%;
//       left: 37%;
//       width: 8px;
//       height: 8px;
//       background-color: $basic-green;
//       border-radius: 50%;
//     }

//     &:hover {
//       box-shadow: 0 2px 4px $border-grey-box-shadow-hover;
//     }

//     &:active {
//       border: 1px solid $basic-green;
//       box-shadow: 0 2px 4px $border-grey-box-shadow-active;
//     }
//   }
// }
