.sample {
  background-image: linear-gradient($basic-white, $grey-lighter 0);

  @media (min-width: $tablet-width) {
    position: relative;
    background-image: linear-gradient($basic-white 57.3%, $grey-lighter 0);
    border-top: 1px solid $grey-light;
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient($basic-white 26.5%, $grey-dark 0);
    border: none;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: calc((100vw - 1440px) / 2);
      height: 100%;
      background-image: linear-gradient($basic-white 26.5%, $grey-lighter 0);
    }
  }
}

.sample__wrapper {
  position: relative;
  display: grid;
  gap: 18px;

  @media (min-width: $tablet-width) {
    gap: 7px;
    padding-top: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    padding-top: 0;
  }
}

.sample__info {
  padding-right: 21px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 33px;
    padding-left: 30px;
    padding-right: 37px;
  }

  @media (min-width: $desktop-width) {
    z-index: 1;
    margin-bottom: 0;
    padding-right: 134px;
    padding-left: 110px;
  }
}

.sample__heading {
  margin: 0 auto 39px;
  padding: 25px 0 0;
  font-size: 36px;
  line-height: 40px;
  font-family: $font-oswald;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 147px;
    padding-top: 29px;
  }
}

.sample__description {
  width: 279px;
  margin: 0 auto 20px;
  padding: 0;
  color: $basic-grey;
  text-align: left;

  @media (min-width: $tablet-width) {
    width: 700px;
    margin-bottom: 55px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 433px;
    margin-bottom: 69px;
    margin-left: 0;
    font-size: 16px;
    line-height: 24px;
  }
}

.sample__sample-price-wrapper {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $mobile-width) {
    justify-content: center;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
  }
}

.sample__list {
  display: flex;
  column-gap: 31px;
  margin: 0;
  margin-bottom: 34px;
  padding-left: 0;

  @media (min-width: $tablet-width) {
    column-gap: 42px;
    margin-bottom: 59px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 100px;
  }
}

.sample__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid $grey-darker;
  border-radius: 2px;

  @media (min-width: $mobile-width) {
    width: 124px;
    height: 56px;
  }

  @media (min-width: $tablet-width) {
    width: 162px;
    height: 71px;
  }
}

.sample__item-value {
  margin: 30px 0 0;
  padding: 0;
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
  font-family: $font-oswald;
  color: $basic-black;
  text-transform: uppercase;

  @media (min-width: $mobile-width) {
    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: $tablet-width) {
    margin-top: 20px;
    font-size: 30px;
    line-height: 37px;
  }
}

.sample__item-title {
  width: 80px;
  margin: 0;
  padding: 0;
  padding-top: 7px;
  font-size: 12px;
  line-height: 12px;
  color: $basic-grey;
  background-color: $grey-lighter;

  @media (min-width: $tablet-width) {
    width: 140px;
    padding-top: 10px;
    font-size: 14px;
    line-height: 14px;
    background-color: $basic-white;
  }

  @media (min-width: $desktop-width) {
    background-color: $grey-dark;
    font-size: 14px;
    line-height: 14px;
  }
}

.sample__item-title--width {
  @media (min-width: $tablet-width) {
    width: 113px;
  }
}

.sample__item-sale {
  margin: 0;
  padding: 0;
  line-height: 20px;
  font-weight: 400;
  font-size: 14px;
  font-family: $font-oswald;
  text-align: center;
  color: $basic-black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 174px;
    margin-top: -59px;
    margin-right: -7px;
    font-size: 20px;
    line-height: 29px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    margin-bottom: 0;
  }
}

.sample__item-sale-value {
  @media (min-width: $desktop-width) {
    margin-left: 59px;
  }
}

.sample__slider {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.sample__slider-cat {
  position: relative;
  width: 320px;
  height: 256px;
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    width: 700px;
    height: 517px;
    margin-bottom: 100px;
  }

  @media (min-width: $desktop-width) {
    width: 690px;
    height: 536px;
    margin-bottom: 91px;
  }
}

.sample__slider-cat-before {
  position: absolute;
  top: 2px;
  left: 19px;
  width: 143px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    top: 5px;
    left: 52px;
    width: 300px;
  }

  @media (min-width: $desktop-width) {
    top: 31px;
    left: 16px;
    width: 308px;
  }
}

.sample__slider-cat-before img {
  max-width: fit-content;
  object-position: center;
  height: 250px;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    height: 500px;
  }
}

.sample__slider-cat-after {
  position: absolute;
  top: 2px;
  right: -7px;
  overflow: hidden;
  overflow-y: hidden;
  direction: rtl;
  width: 166px;

  @media (min-width: $tablet-width) {
    top: 7px;
    right: 2px;
    display: block;
    width: 350px;
  }

  @media (min-width: $desktop-width) {
    top: 33px;
    right: 26px;
    width: 354px;
  }
}

.sample__slider-cat-after img {
  max-width: fit-content;
  object-position: center;
  height: 256px;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    height: 509px;
  }
}

.sample__slider-button {
  position: absolute;
  top: 2px;
  left: 49.5%;
  z-index: 1;
  display: block;
  padding: 0;
  width: 4px;
  height: 100%;
  cursor: pointer;
  background-color: $svg-basic-grey;
  border: none;
  border-radius: 2px;
  box-sizing: border-box;

  &::before {
    position: absolute;
    content: "";
    top: 35%;
    left: 50%;
    width: 40px;
    height: 40px;
    background-color: $basic-white;
    border-radius: 50%;
    border: 2px solid $grey-darker;
    transform: translate(-50%, 50%);
  }

  &::after {
    position: absolute;
    content: "";
    top: 43%;
    left: 50%;
    width: 24px;
    height: 18px;
    background-color: #666666;
    mask-image: url("../../icons/stack.svg#icon-slider-arrows");
    transform: translate(-50%, 50%);
  }

  &:hover {
    background-color: $basic-green;

    &::before {
      border-color: $basic-green;
    }

    &::after {
      background-color: $basic-green;
      fill: $basic-green;
    }
  }

  &:active {
    background-color: $background-green;

    &::before {
      border-color: $background-green;
    }

    &::after {
      background-color: $background-green;
      fill: $background-green;
    }
  }

  @media (min-width: $tablet-width) {
    top: 0;
    left: 49.7%;

    &::before {
      top: 42%;
    }

    &::after {
      top: 47%;
    }
  }

  @media (min-width: $desktop-width) {
    top: 30px;
    left: 45%;
    height: 96%;

    &::after {
      top: 46%;
    }
  }
}
