.services {
  display: grid;
  grid-template-rows: 1fr;
  row-gap: 20px;
  margin-bottom: 28px;
  padding-right: 20px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    row-gap: 30px;
    margin-bottom: 45px;
    padding-right: 30px;
    padding-left: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    margin-top: -2px;
    margin-bottom: 71px;
    padding-right: 110px;
    padding-left: 110px;
  }
}

.services__item {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 31px 20px 21px;
  background-color: $grey-dark;

  @media (min-width: $tablet-width) {
    padding: 77px 52px 57px 53px;
  }

  @media (min-width: $desktop-width) {
    padding: 75px 52px 59px 50px;
    text-align: left;
  }
}

.services__heading {
  position: relative;
  margin: 0;
  margin-bottom: 15px;
  padding-left: 71px;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  font-family: $font-oswald;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
    padding-left: 0;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 59px;
    padding-left: 164px;
  }
}

.services__heading--icon-cat-slim {
  &::before {
    content: "";
    position: absolute;
    top: -9px;
    left: 9px;
    z-index: 1;
    width: 36px;
    height: 50px;
    background-image: url("../../icons/stack.svg#icon-cat-slim");
    background-repeat: no-repeat;
    background-size: 36px 50px;
  }

  &::after {
    content: "";
    position: absolute;
    top: -6px;
    left: 2px;
    width: 50px;
    height: 50px;
    background-color: $basic-green;
    border-radius: 50%;
  }

  @media (min-width: $tablet-width) {
    &::before {
      top: 4px;
      right: 40px;
      left: auto;
      width: 140px;
      height: 192px;
      background-size: 140px 192px;
    }

    &::after {
      top: 15px;
      left: auto;
      right: 10px;
      width: 200px;
      height: 200px;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      top: -36px;
      left: 17px;
      width: 70px;
      height: 97px;
      background-size: 70px 97px;
    }

    &::after {
      top: -30px;
      left: 2px;
      width: 100px;
      height: 100px;
    }
  }
}

.services__heading--icon-cat-pro {
  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -7px;
    z-index: 1;
    width: 67px;
    height: 28px;
    background-image: url("../../icons/stack.svg#icon-cat-pro");
    background-repeat: no-repeat;
    background-size: 67px 28px;
  }

  &::after {
    content: "";
    position: absolute;
    top: -6px;
    left: 3px;
    width: 50px;
    height: 50px;
    background-color: $basic-green;
    border-radius: 50%;
  }

  @media (min-width: $tablet-width) {
    &::before {
      top: 58px;
      left: auto;
      right: -24px;
      width: 268px;
      height: 112px;
      background-size: 268px 112px;
    }

    &::after {
      top: 14px;
      left: auto;
      right: 8px;
      width: 200px;
      height: 200px;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      top: -10px;
      left: -17px;
      width: 134px;
      height: 56px;
      background-size: 134px 56px;
    }

    &::after {
      top: -30px;
      left: 2px;
      width: 100px;
      height: 100px;
    }
  }
}

.services__description {
  position: relative;
  margin-bottom: 20px;
  padding: 0 0 21px;
  color: $basic-grey;
  width: 240px;
  line-height: 18px;
  border-bottom: 1px solid $grey-lightest;

  @media (min-width: $tablet-width) {
    width: 380px;
    margin-top: 15px;
    margin-bottom: 51px;
    margin-left: -1px;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 467px;
    margin-bottom: 26px;

    padding-left: 3px;
  }
}

.services__description--width {
  @media (min-width: $tablet-width) {
    width: 340px;
  }

  @media (min-width: $desktop-width) {
    width: 450px;
  }
}

.services__button {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 161px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  font-family: $font-oswald;
  color: $basic-black;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    width: 24px;
    height: 11px;
    background-image: url("../../icons/stack.svg#icon-right-arrow-long");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
  }

  &:hover {
    &::before {
      width: 32px;
    }
  }

  &:active {
    opacity: 0.3;

    &::before {
      width: 32px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-left: -1px;
    font-size: 20px;
    line-height: 30px;

    @media (min-width: $desktop-width) {
      padding-left: 3px;
    }
  }
}
