.social-icon {
  fill: $svg-basic-grey;

  &:hover {
    fill: $basic-green;
  }

  &:active {
    opacity: 0.3;
  }
}

.social-icon--vk {
  @media (min-width: $tablet-width) {
    width: 30px;
    height: 22px;
  }
}

.social-icon--ig {
  @media (min-width: $tablet-width) {
    width: 23px;
    height: 23px;
  }
}

.social-icon--fb {
  @media (min-width: $tablet-width) {
    width: 26px;
    height: 28px;
  }
}
